In [18]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
df=pd.read_csv('RetailNuevo1.csv')

In [4]:
df.shape

(2000, 14)

In [13]:
df.columns

Index(['Unnamed: 0', 'Ship Mode', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Category', 'Sub-Category', 'Sales',
       'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [14]:
df['Ship Mode'].value_counts()

Ship Mode
Standard Class    1190
Second Class       385
First Class        328
Same Day            97
Name: count, dtype: int64

In [16]:
ventas_segmentadas = df.groupby(['State', 'Ship Mode', 'Sub-Category'])['Sales'].sum().reset_index()

# Mostrar las primeras filas del resultado
ventas_segmentadas

         State       Ship Mode Sub-Category    Sales
0      Alabama    Second Class  Accessories  1319.96
1      Alabama    Second Class          Art    15.47
2      Alabama    Second Class      Binders    22.75
3      Alabama    Second Class       Labels   491.55
4      Alabama    Second Class        Paper   629.10
..         ...             ...          ...      ...
803  Wisconsin  Standard Class      Binders    17.52
804  Wisconsin  Standard Class    Bookcases   459.92
805  Wisconsin  Standard Class       Chairs   680.01
806  Wisconsin  Standard Class  Furnishings    47.40
807  Wisconsin  Standard Class       Phones  1721.35

[808 rows x 4 columns]

In [40]:
categorias = df['Category'].unique()
categorias
df_cat_Office_Supplies=df[df['Category']=='Office Supplies']
df_cat_Technology=df[df['Category']=='Technology']
df_cat_Furniture=df[df['Category']=='Furniture']

In [46]:
df_cat_Office_Supplies.groupby(['Sub-Category'])['Sales'].sum().reset_index()

  Sub-Category      Sales
0   Appliances  19445.944
1          Art   5506.830
2      Binders  34065.584
3    Envelopes   4861.564
4    Fasteners    577.074
5       Labels   2449.590
6        Paper  16401.728
7      Storage  38321.722
8     Supplies   1569.180